<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en"
      data-bs-theme="dark">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .resource-card:hover {
            background-color: #f0f8ff;
            border-color: #f0f8ff;
            box-shadow:
                0 4px 10px rgba(240, 248, 255, 0.7),
                0 0 10px rgba(240, 248, 255, 0.7),
                0 0 50px rgba(240, 248, 255, 0.7),
                0 0 200px rgba(240, 248, 255, 0.7)
                ;                ;
        }
        .resource-card {
            transition:
                background-color 0.5s ease,
                border-color 0.5s ease,
                box-shadow 0.5s ease;
        }
    </style>
</head>

<body class="min-vh-100 justify-content-center align-items-center">
<div class="container py-5">

    <!--Webpage navigation bar-->
    <nav class="navbar navbar-expand-md bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://localhost:8080/home">Reservations</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="http://localhost:8080/home">
                            Home
                            <span class="sr-only"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/reservations">My Reservations</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('EMPLOYEE')">
                        <a class="nav-link" href="#">Administration</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('EMPLOYEE')">
                        <a class="nav-link" href="#">Settings</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Search row-->
    <div class="container mt-4 p-3">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form role="search">
                    <!--Other-->
                    <input type="hidden" name="sortField" th:value="${sortField}"
                           th:if="${sortField != null and !#strings.isEmpty(sortField)}"/>
                    <input type="hidden" name="sortDirection" th:value="${sortDirection}"
                           th:if="${sortDirection != null and !#strings.isEmpty(sortDirection)}"/>
                    <div th:each="type : ${types}">
                        <input type="hidden" name="types" th:value="${type}"
                               th:if="${type != null and !#strings.isEmpty(type)}"/>
                    </div>

                    <div class="input-group">
                    <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-search"
                             viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </span>

                        <input type="search"
                               class="form-control"
                               placeholder="Search..."
                               aria-label="Search"
                               name="search"
                               th:value="${search}">

                        <button type="submit"
                                class="btn btn-outline-primary">
                            Search
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Add resource-->
    <div sec:authorize="hasRole('EMPLOYEE')" class="mb-3">

        <div class="row justify-content-center">
            <div class="col-4 text-center">
                <button type="button" class="btn btn-outline-primary md-4 p-3 w-100" data-bs-toggle="modal"
                        data-bs-target="#addResourceModal">
                    Add Resource
                </button>
            </div>

            <div class="modal fade" id="addResourceModal" tabindex="-1" aria-labelledby="addResourceModal"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="@{/resource}" th:object="${resource}" method="post"
                              enctype="multipart/form-data">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addResourceModalLabel">
                                    Add Resource
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                <!--Name-->
                                <div class="mb-3">
                                    <label for="name" class="form-label">Name</label>
                                    <input type="text" th:field="*{name}" class="form-control" id="name" required/>
                                    <div class="text-danger" th:if="${#fields.hasErrors('name')}"
                                         th:errors="*{name}"></div>
                                </div>

                                <!--Description-->
                                <div class="mb-3">
                                    <label for="description" class="form-label">Description</label>
                                    <input type="text" th:field="*{description}" class="form-control" id="description"
                                           required/>
                                    <div class="text-danger" th:if="${#fields.hasErrors('description')}"
                                         th:errors="*{description}"></div>
                                </div>

                                <!--Image-->
                                <div class="mb-3">
                                    <label for="image" class="form-label">Image</label>
                                    <input type="file" th:field="*{image}" class="form-control" id="image" alt="Image"
                                           required/>
                                    <div class="text-danger" th:if="${#fields.hasErrors('image')}"
                                         th:errors="*{image}"></div>
                                </div>

                                <!--Type-->
                                <div class="mb-3">
                                    <label for="type" class="form-label">Type</label>
                                    <select th:field="*{type}" class="form-select" id="type" required>
                                        <option th:each="option: ${typeOptions}"
                                                th:value="${option}"
                                                th:text="${option}">
                                        </option>
                                    </select>
                                    <div class="text-danger" th:if="${#fields.hasErrors('type')}"
                                         th:errors="*{type}"></div>
                                </div>

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    Cancel
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    Save
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Resource querying-->
    <div class="container">


        <!--Filter-->
        <div class="row justify-content-center mb-3">
            <div class="col-12 col-md-4">
                <div class="card p-3">
                    <h5>Filters</h5>
                    <form method="get" th:action="@{home}">
                        <!--Other-->
                        <input type="hidden" name="sortField" th:value="${sortField}"
                               th:if="${sortField != null and !#strings.isEmpty(sortField)}"/>
                        <input type="hidden" name="sortDirection" th:value="${sortDirection}"
                               th:if="${sortDirection != null and !#strings.isEmpty(sortDirection)}"/>
                        <input type="hidden" name="search" th:value="${search}"
                               th:if="${search != null and !#strings.isEmpty(search)}"/>

                        <div class="mb-2">
                            <label class="form-label">Type</label>
                            <div th:each="option : ${typeOptions}" class="form-check">
                                <input type="checkbox"
                                       class="form-check-input"
                                       name="types"
                                       th:value="${option}"
                                       th:id="${'type_' + option}"
                                       th:checked="${types.contains(option.name())}">

                                <label class="form-check-label" th:for="${'type_' + option}"
                                       th:text="${option}"></label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-primary w-100 mt-2">Apply</button>
                    </form>
                </div>
            </div>
        </div>

        <!--Sorting-->
        <div class="row mt-4 justify-content-center mb-3">
            <div class="col-12 col-md-4 text-center">

                <strong>
                    Sort by:<br>
                </strong>

                <form method="get" th:action="@{/home}" id="sortForm">

                    <!--Other-->
                    <input type="hidden" name="sortDirection" th:value="${sortDirection}"
                           id="sortDirectionInput"/>
                    <div th:each="type : ${types}">
                        <input type="hidden" name="types" th:value="${type}"
                               th:if="${type != null and !#strings.isEmpty(type)}"/>
                    </div>
                    <input type="hidden" name="search" th:value="${search}"
                           th:if="${search != null and !#strings.isEmpty(search)}"/>

                    <div class="btn-group me-2" role="group" aria-label="Sort buttons">
                        <!-- Reset sortField -->
                        <input type="radio" class="btn-check" name="sortField" id="sortNone" value=""
                               th:checked="${#strings.isEmpty(sortField)}" onchange="this.form.submit()">
                        <label class="btn btn-outline-secondary" for="sortNone">
                            X
                        </label>

                        <input type="radio" class="btn-check" name="sortField" id="sortName" value="name"
                               th:checked="${sortField == 'name'}" onchange="this.form.submit()">
                        <label class="btn btn-outline-primary" for="sortName">Name</label>

                        <input type="radio" class="btn-check" name="sortField" id="sortType" value="type"
                               th:checked="${sortField == 'type'}" onchange="this.form.submit()">
                        <label class="btn btn-outline-primary" for="sortType">Type</label>
                    </div>

                    <div class="btn-group" role="group" aria-label="Sort direction">
                        <button type="button" class="btn btn-outline-secondary"
                                onclick="toggleSortDirectionAndSubmit()">
                            <span th:text="${sortDirection == 'asc' ? '↑ Asc' : '↓ Desc'}"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>


    </div>

    <!--Resources grid-->
    <div class="row row-cols-1 row-cols-sm-3 row-cols-md-5 g-3">
        <div class="col" th:each="resource : ${resources}">
            <div class="card text-center border-primary-subtle shadow-sm h-100 resource-card">
                <a th:href="@{'/resource/' + ${resource.id}}"
                   class="text-decoration-none text-reset flex-grow-1 d-flex flex-column">
                    <img th:src="@{'/images/' + ${resource.imageName}   }" class="card-img-top"
                         style="height: 250px;" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${resource.name}">Resource Title</h5>
                        <span class="badge text-bg-secondary"
                              th:text="${resource.type}"
                              th:style="bg-primary-subtle">
                            </span>
                    </div>
                </a>
            </div>
        </div>

        <!--Dummy Data for DEV-->
        <div class="col" th:each="i : ${#numbers.sequence(1,10)}">
            <div class="card text-center border-primary-subtle shadow-sm h-100 resource-card">
                <a href="#" class="text-decoration-none text-reset flex-grow-1 d-flex flex-column">
                    <img src="/images/sample.jpg" class="card-img-top" style="height: 250px;" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title">Dummy #[[${i}]]</h5>
                        <span class="badge text-bg-secondary">SampleType</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!--Total resources number-->
<p class="text-center mt-5" th:text="'Total resources: ' + ${totalElements}"></p>

<form method="get" th:action="@{/home}">

    <!--Other-->
    <input type="hidden" name="sortField" th:value="${sortField}"
           th:if="${sortField != null and !#strings.isEmpty(sortField)}"/>
    <input type="hidden" name="sortDirection" th:value="${sortDirection}"
           th:if="${sortDirection != null and !#strings.isEmpty(sortDirection)}"/>
    <div th:each="type : ${types}">
        <input type="hidden" name="types" th:value="${type}" th:if="${type != null and !#strings.isEmpty(type)}"/>
    </div>
    <input type="hidden" name="search" th:value="${search}" th:if="${search != null and !#strings.isEmpty(search)}"/>

    <!--Page-->
    <nav class="d-flex justify-content-center">
        <ul class="pagination">
            <!-- Previous -->
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <button type="submit" class="page-link" name="page" th:value="${currentPage - 1}">
                    Previous
                </button>
            </li>

            <!-- Page Numbers -->
            <li class="page-item" th:each="i : ${#numbers.sequence(startPage, endPage)}"
                th:classappend="${i == currentPage} ? 'active'">
                <button type="submit" class="page-link" name="page" th:value="${i}" th:text="${i + 1}"></button>
            </li>

            <!-- Next -->
            <li class="page-item" th:classappend="${currentPage + 1 >= totalPages} ? 'disabled'">
                <button type="submit" class="page-link" name="page" th:value="${currentPage + 1}">
                    Next
                </button>
            </li>
        </ul>
    </nav>
</form>
</div>


<script th:inline="javascript">
    /*<![CDATA[*/
    let showModal = /*[[${showModal} ? true : false]]*/ false;

    if (showModal) {
        document.addEventListener('DOMContentLoaded', function () {
            const modal = new bootstrap.Modal(document.getElementById('addResourceModal'));
            modal.show();
        });
    }
    /*]]>*/

    function toggleSortDirectionAndSubmit() {
        const input = document.getElementById('sortDirectionInput');
        input.value = input.value === 'asc' ? 'desc' : 'asc';
        document.getElementById('sortForm').submit();
    }
</script>
</body>
</html>
