<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      data-bs-theme="dark">
<head>
    <title>Resource</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"/>
    <style></style>
</head>

<body class="min-vh-100 justify-content-center align-items-center">
<div class="container py-5">

    <!--Resource Card-->
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-sm border-primary-subtle">
                <div class="card-body" th:object="${resource}">

                    <!-- Image-->
                    <div class="text-center mb-5">
                        <img th:src="@{'/images/' + *{imageName}}" class="card-img-top img-fluid rounded" alt="Image">
                    </div>

                    <!-- Name -->
                    <h2 class="text-center mb-3" th:text="*{name}">
                        Resource Name
                    </h2>

                    <!-- Type -->
                    <p class="mb-3 text-center">
                        <span class="badge text-bg-secondary" th:text="*{type}">
                            Resource type
                        </span></p>

                    <!-- Description -->
                    <p class="mb-3">
                        <strong>
                            Description:<br>
                        </strong>
                        <span th:text="*{description}">
                            Resource description
                        </span>
                    </p>

                </div>
            </div>
        </div>
    </div>

    <!--Reservation Form-->
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-sm border-primary-subtle">

                    <h1 class="card-title text-center mt-3">Reserve</h1>

                    <div class="card-body">
                        <!-- Global success message -->
                        <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>

                        <form th:action="@{/reserve}" th:object="${reservation}" method="post">
                            <!--Resource ID-->
                            <input type="hidden" name="resourceId" th:value="${resource.id}">

                            <!--Date-->
                            <div class="mb-3">
                                <label for="date" class="form-label">Date</label>
                                <input type="date" class="form-control" id="date" name="date" required>
                                <div class="text-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
                            </div>

                            <!--Warning message - resource unavailable-->
                            <div id="unavailableAlert" class="alert alert-warning" hidden>
                                Resource is not available for that date.
                            </div>

                            <!--Warning message - invalid reservation period-->
                            <div id="invalidPeriodAlert" class="alert alert-warning" hidden>
                                Resource is not available for picked time period.
                            </div>

                            <!--From-->
                            <div class="mb-3">
                                <label for="from" class="form-label">From</label>
                                <select name="from" id="from" class="form-select" required disabled></select>
                                <div class="text-danger" th:if="${#fields.hasErrors('from')}" th:errors="*{from}"></div>
                            </div>

                            <!--To-->
                            <div class="mb-3">
                                <label for="to" class="form-label">To</label>
                                <select name="to" id="to" class="form-select" required disabled></select>
                                <div class="text-danger" th:if="${#fields.hasErrors('to')}" th:errors="*{to}"></div>
                            </div>

                            <button type="submit"
                                    class="btn btn-outline-primary w-100 position-relative ">
                                Reserve
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Calendar Display-->
    <div class="container py-5">

        <!--Legend-->
        <div class="row row-cols-1 row-cols-sm-3 row-cols-md-5 g-3 justify-content-center">
            <div class="col">
                <div class="card text-center shadow-sm bg-success-subtle border-success-subtle">
                    <div class="card-body text-success" th:object="${resource}">
                        Available
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card text-center shadow-sm bg-danger-subtle border-danger-subtle">
                    <div class="card-body text-danger" th:object="${resource}">
                        Reserved
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card text-center shadow-sm bg-secondary-subtle border-secondary-subtle">
                    <div class="card-body text-secondary" th:object="${resource}">
                        Unavailable
                    </div>
                </div>
            </div>
        </div>

        <!--Time period-->
        <div class="row justify-content-center mt-5">
            <strong class="text-center">
                Period:
                <strong class="text-center">
                    Date_1 -> Date_2
                </strong>
            </strong>
        </div>

        <!--Calendar Grid-->
        <!--Probably better to load it with js-->
        <div class="container py-5">
            <div th:if="${calendarData != null}">
                <div class="table-responsive">

                    <table class="table table-bordered text-center align-middle" id="calendarTable">
                        <thead>
                        <tr>
                            <th>Day</th>
                            <th th:each="hour : ${calendarHours}" th:text="${hour}"></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="entry : ${calendarData.entrySet()}">
                            <th th:text="${entry.key}"></th>

                            <!--No available hours for the day-->
                            <td th:if="${entry.value.get(1).get(0) == 'Null'}"
                                th:colspan="${#lists.size(calendarHours)}">
                                <span class="badge bg-secondary-subtle text-secondary">
                                    Unavailable
                                </span>
                            </td>

                            <!--Available hours for the day-->
                            <td th:each="status, iterStat : ${entry.value != null ? entry.value.get(1) : {}}"
                                th:unless="${entry.value == null}">
                            <span th:switch="${status}">
                                <span th:case="'Available'" class="badge bg-success-subtle text-success">Available</span>
                                <span th:case="'Reserved'" class="badge bg-danger-subtle text-danger">Reserved</span>
                                <span th:case="'Unavailable'" class="badge bg-secondary-subtle text-secondary">Unavailable</span>
                            </span>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>

                <!--Dynamic:-->
                <!--IF     HOUR IS NOT IN MAXIMUM HOURS_LIST     THEN UNAVAILABLE-->

                <table class="table table-bordered text-center align-middle">
                    <thead class="table">
                    <tr>
                        <th>Day</th>
                        <th>08:00</th>
                        <th>08:30</th>
                        <th>09:00</th>
                        <th>09:30</th>
                        <th>10:00</th>
                        <th>10:30</th>
                        <th>11:00</th>
                        <th>11:30</th>
                        <th>12:00</th>
                        <th>12:30</th>
                        <th>13:00</th>
                        <th>13:30</th>
                        <th>14:00</th>
                        <th>14:30</th>
                        <th>15:00</th>
                        <th>15:30</th>
                        <th>16:00</th>
                        <th>16:30</th>
                        <th>17:00</th>
                        <th>17:30</th>
                        <th>18:00</th>
                        <th>18:30</th>
                        <th>19:00</th>
                        <th>19:30</th>
                        <th>20:00</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>Monday (2025-08-04)</td>
                        <td class="bg-success-subtle text-success"> Available</td>
                        <td class="bg-danger-subtle text-danger"> Reserved</td>
                        <td class="bg-success-subtle text-success"> Available</td>
                        <td class="bg-secondary-subtle text-secondary"> Unavailable</td>
                        <td class="bg-success-subtle text-success"> Available</td>
                        <td><span class="badge bg-secondary-subtle text-secondary">Unavailable</span></td>
                        <td><span class="badge bg-success-subtle text-success">Available</span></td>
                        <td><span class="badge bg-danger-subtle text-danger">Reserved</span></td>
                        <td><span class="badge bg-success-subtle text-success">Available</span></td>
                        <td><span class="badge bg-secondary-subtle text-secondary">Unavailable</span></td>
                    </tr>
                    <tr>
                        <td>Tuesday (2025-08-05)</td>
                        <td class="bg-success-subtle text-success"> Available</td>
                        <td class="bg-danger-subtle text-danger"> Reserved</td>
                        <td class="bg-success-subtle text-success"> Available</td>
                        <td class="bg-secondary-subtle text-secondary"> Unavailable</td>
                        <td class="bg-success-subtle text-success"> Available</td>
                        <td><span class="badge bg-secondary-subtle text-secondary">Unavailable</span></td>
                        <td><span class="badge bg-success-subtle text-success">Available</span></td>
                        <td><span class="badge bg-danger-subtle text-danger">Reserved</span></td>
                        <td><span class="badge bg-success-subtle text-success">Available</span></td>
                        <td><span class="badge bg-secondary-subtle text-secondary">Unavailable</span></td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <div th:if="${calendarData == null}" id="calendarErrorMessage" class="alert alert-warning">
                Error occurred during loading calendar view.
            </div>

        </div>

    </div>
</div>

</div>

<script>
    <!--Event listener for date field-->
    let allAvailableHours = [];

    document.getElementById("date").addEventListener("change", function () {
        const selectedDate = this.value
        const resourceId = document.getElementsByName("resourceId")[0]?.value;

        if (!selectedDate || !resourceId) return;

        fetch(`/reservations/availableHours?period=day&resourceId=${resourceId}&date=${selectedDate}`)
            .then(response => response.json())
            .then(data => {
                const fromSelect = document.getElementById("from")
                const toSelect = document.getElementById("to")

                const warningInfo = document.getElementById("unavailableAlert")
                const invalidPeriodAlert = document.getElementById("invalidPeriodAlert")

                fromSelect.innerHTML = '';
                toSelect.innerHTML = '';

                fromSelect.disabled = false;
                toSelect.disabled = false;
                fromSelect.required = true;
                toSelect.required = true;
                invalidPeriodAlert.hidden = true;

                if (data.length > 0) {
                    allAvailableHours = data;

                    data.forEach(period => {
                        const fromOption = document.createElement("option");
                        const toOption = document.createElement("option");

                        fromOption.value = period;
                        fromOption.textContent = period;
                        toOption.value = period;
                        toOption.textContent = period;

                        fromSelect.appendChild(fromOption);
                        toSelect.appendChild(toOption);
                    });

                    warningInfo.hidden = true;

                } else {
                    warningInfo.hidden = false;
                }
            })
    });

    <!--Event listener for from field-->
    document.getElementById("from").addEventListener("change", function () {
        const selectedForm = this.value;
        const toSelect = document.getElementById("to");

        const filtered = allAvailableHours.filter(hour => hour > selectedForm);
        updateSelect(toSelect, filtered);
    })

<!--    &lt;!&ndash;Event listener for to field&ndash;&gt;-->
<!--    document.getElementById("to").addEventListener("change", function () {-->
<!--        const selectedForm = this.value;-->
<!--        const fromSelect = document.getElementById("from");-->

<!--        const filtered = allAvailableHours.filter(hour => hour < selectedForm);-->
<!--        updateSelect(fromSelect, filtered);-->
<!--    })-->

    <!--Function for dynamic populating selects-->
    function updateSelect(selectElement, options) {
        selectElement.innerHTML = '';
        options.forEach(hour => {
            const option = document.createElement("option");
            option.value = hour;
            option.textContent = hour;
            selectElement.appendChild(option);
        })

        if (options.length == 0) {
            invalidPeriodAlert.hidden = false
        } else {
            invalidPeriodAlert.hidden = true
        }
    }
</script>


</body>


<!--    Edit Resource-->
<!--    <div class="card-footer" sec:authorize="hasRole('EMPLOYEE')">-->

<!--        <button type="button" class="btn btn-outline-primary md-4 p-3" data-bs-toggle="modal"-->
<!--                data-bs-target="#editResourceModal">-->
<!--            Edit-->
<!--        </button>-->

<!--        <div class="modal fade" id="editResourceModal" tabindex="-1" aria-labelledby="editResourceModal"-->
<!--             aria-hidden="true">-->
<!--            <div class="modal-dialog">-->
<!--                <div class="modal-content">-->
<!--                    <form th:action="@{/resource}" th:object="${resource}" method="post"-->
<!--                          enctype="multipart/form-data">-->
<!--                        <div class="modal-header">-->
<!--                            <h5 class="modal-title" id="editResourceModalLabel">-->
<!--                                Add Resource-->
<!--                            </h5>-->
<!--                            <button type="button" class="btn-close" data-bs-dismiss="modal"-->
<!--                                    aria-label="Close"></button>-->
<!--                        </div>-->

<!--                        <div class="modal-body">-->
<!--                            &lt;!&ndash;Name&ndash;&gt;-->
<!--                            <div class="mb-3">-->
<!--                                <label for="name" class="form-label">Name</label>-->
<!--                                <input type="text" th:field="*{name}" class="form-control" id="name" required/>-->
<!--                                <div class="text-danger" th:if="${#fields.hasErrors('name')}"-->
<!--                                     th:errors="*{name}"></div>-->
<!--                            </div>-->

<!--                            &lt;!&ndash;Description&ndash;&gt;-->
<!--                            <div class="mb-3">-->
<!--                                <label for="description" class="form-label">Description</label>-->
<!--                                <input type="text" th:field="*{description}" class="form-control"-->
<!--                                       id="description"-->
<!--                                       required/>-->
<!--                                <div class="text-danger" th:if="${#fields.hasErrors('description')}"-->
<!--                                     th:errors="*{description}"></div>-->
<!--                            </div>-->

<!--                            &lt;!&ndash;Image&ndash;&gt;-->
<!--                            <div class="mb-3">-->
<!--                                <label for="image" class="form-label">Image</label>-->
<!--                                <input type="file" th:field="*{image}" class="form-control" id="image"-->
<!--                                       alt="Image"-->
<!--                                       required/>-->
<!--                                <div class="text-danger" th:if="${#fields.hasErrors('image')}"-->
<!--                                     th:errors="*{image}"></div>-->
<!--                            </div>-->

<!--                            &lt;!&ndash;Type&ndash;&gt;-->
<!--                            <div class="mb-3">-->
<!--                                <label for="type" class="form-label">Type</label>-->
<!--                                <select th:field="*{type}" class="form-select" id="type" required>-->
<!--                                    <option th:each="option: ${typeOptions}"-->
<!--                                            th:value="${option}"-->
<!--                                            th:text="${option}">-->
<!--                                    </option>-->
<!--                                </select>-->
<!--                                <div class="text-danger" th:if="${#fields.hasErrors('type')}"-->
<!--                                     th:errors="*{type}"></div>-->
<!--                            </div>-->

<!--                        </div>-->

<!--                        <div class="modal-footer">-->
<!--                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">-->
<!--                                Cancel-->
<!--                            </button>-->
<!--                            <button type="sumit" class="btn btn-primary">-->
<!--                                Save-->
<!--                            </button>-->
<!--                        </div>-->

<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


</html>